table {
	width: 85%;
}

table, th, td {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}

th {
	background-color: lightblue;
}

#formdiv {
	display: flex;
	flex-direction: row;
}

#formdiv, label, button, input {
	margin: 10px;
	padding: 3px;
	width: 85%;
}

#formdiv, label {
	font-weight: bolder;
}

table button {
	padding: 2px;
}
